@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #C4A4D4;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
}